@import "css/bootstrap";







html,
body {







	#container {







		#header {

			.title {h1 {line-height:140px;margin:0;text-align:center;}}

		}







		#tests {

			pre {background-color:#666666;color:#ffffff;padding:15px;}

			.content {display:flex;align-items:center;justify-content: center;}

		}








	}








}